$timing: .25s;

.cart-sidebar {
        transition: width .5s $cubicBezier .5s, top .5s $cubicBezier;
        font-size: 11px;
        box: {
            sizing: border-box;
            shadow: 0px -6px 22px rgba(0, 0, 0, 0.25);
        }
        border: {
            // top-left: {
            //     radius: 8px;
            // }
            // top-right: {
            //     radius: 8px;
            // }
            style: solid;
            width: 1px;
            color: $gray;
        }
        line-height: 1;
        background-color: lighten($gray, 10);
        position: fixed;
        z-index: 99993;
        top: calc(100% - 70px);
        &.cart-sidebar--empty  {
            top: calc(100%);
        }
        left: 0;
        right: 0;
        width: 600px;
        max-width: 95%;
        margin: {
            right: auto;
            left: auto;
        }
        .cart-sidebar--open & {
            transition: width .5s $cubicBezier, top .5s $cubicBezier .05s;
            width: 1160px;
        }

        .cart-sidebar__header {
            cursor: pointer;
            height: 70px;
            position: relative;
            // background-color: $mainColor;
            .cart-sidebar__header-close {
                background-color: $white;
                color: $black;
                border-radius: 20px;
                font-size: 18px;
                position: absolute;
                left: calc(100% - #{$boxModel / 2});
                bottom: calc(100% - 10px);
                opacity: 0;
                transition: opacity .25s linear, transform .25s $cubicBezier, color .25s linear;
                transform: translateY(40px) scale(1);
                .cart-sidebar--open & {
                    transition: opacity .75s linear .75s, transform .75s $cubicBezier .5s, color .25s linear;
                    opacity: 1;
                    transform: translateY(0) scale(1);
                    &:hover {
                        transform: translateY(0) scale(1.15);
                        color: $red;
                    }
                }
            }
            .cart-sidebar__header-col {
                padding: {
                    top: $boxModel;
                    right: $boxModel;
                    bottom: $boxModel;
                    left: $boxModel;
                }
                display: flex;
                align-items: center;
            }
            .cart-sidebar__header-col-left {
                
            }            
            .cart-sidebar__header-col-right {
                justify-content: flex-end;
            }            
        }
        
        .cart-sidebar__labels {
            font-weight: 700;
            text-align: center;
        }
        &__title {
            @extend .ui-title-small;
            font-weight: 100;
        }

        .cart-sidebar__data {
            font-size: 13px;
            // border-bottom: 1px solid rgba(0, 0, 0, 0.089);

            .wk-col {
                display: flex;
                align-items: center;
            }

            .cart-sidebar__data-item {
                width: 100%;
                display: block;
                &:not(.cart-sidebar__product) {
                    text-align: center;
                    justify-content: center;
                }
                box-sizing: border-box;
                padding: {
                    top: $boxModel / 2;
                    bottom: $boxModel / 2;
                    right: $boxModel;
                    left: 0;
                }
                display: flex;
                align-items: center;
                // border-right:  1px solid rgba(0, 0, 0, 0.089);

            }

            .cart-sidebar__product {

                .cart-sidebar__product-sample {
                    border: {
                        radius: 30px;
                    }
                    vertical-align: middle;
                    margin-right: 6px;
                }
                .cart-sidebar__product-cat {
                    font: {
                        size: 10px;
                        weight: 700;
                    }
                    opacity: .5;
                    // display: none;
                }

            }

        }
    .woocommerce-cart-form {
        opacity: 0;
        transition: opacity 0s linear, transform .25s linear 0s;
        transform: translateY(40px);
        .cart-sidebar--open & {
            opacity: 1;
            transition: opacity .25s linear .5s, transform .25s linear .5s;
            transform: translateY(0);
        }
    }
    .shop_table_container {
        max-height: 300px;
        overflow-y: auto;
    }
    .shop_table {
        thead {
            th {
                background-color: lighten($gray, 5);
                position: sticky;
                top: -1px;
                z-index: 1;
            }
        }
        tbody {
        }
        .product-remove {
            
        }
        .product-thumbnail {
            img {
                width: 32px;
                height: 32px;
                object: {
                    fit: cover;
                    position: center;
                }
            }
        }
        .product-name {

        }
        .product-presentacion {
            width: 180px;

        }
        .product-medida {
            width: 80px;

        }
        .product-quantity {
            width: 80px;
        }
    }
    .woocommerce-cart-form__contents {
        thead, tbody, .cart_item:not(:last-child) {
            border: {
                left: 0 !important;
                right: 0 !important;
            }
        }
    }
    .cart_actions {
        // position: sticky;
        // bottom: 0;
        // background-color: lighten($gray, 10);
        // box-shadow: 0px -1px 8px rgba($black, .1);
        // border-bottom: 1px solid $gray;
        position: absolute;
        right: 190px;
        border-top: 1px solid $gray;
        padding: {
        }
        .actions {
            padding: {
                right: $boxModel;
                left: $boxModel;
                top: $boxModel;
                bottom: $boxModel;
            }
        }
    }
    .cart-collaterals {
        border-top: 1px solid $gray;
        padding: {
            left: $boxModel;
            right: $boxModel;
        }
    }
    .button {
        min-width: 160px;
    }

}

.item-count {
    display: inline-block;
    position: relative;
    .item-count__icon {
        width: 42px;
        height: auto;
        transition: all .24s $linear;
        .is-scrolled #main-header & {
            width: 26px;
        }
        .page-quienes-somos .main-header  & {
            filter: invert(100);
        }
    }
    .item-count__number {
        font-size:10px;
        color: $white;
        vertical-align: middle;
        background-color: $mainColor;
        .page-quienes-somos .main-header & {
            background-color: darken($gray, 20);
        }
        padding: {
            top: 2px;
            right: 4px;
            bottom: 2px;
            left: 4px;
        }
        border-radius: 100px;
        display: inline-block;
        height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: calc(100% - 10px);
        right: calc(100% - 10px);
    }
}

