.search {
    .search-product__wrapper {
        border: 1px solid $gray;
        box-sizing: border-box;
        padding: {
            top: $boxModel / 2;
            right: $boxModel;
            bottom: $boxModel / 2;
            left: $boxModel;
        }
    }
    &-product {
        box-sizing: border-box;
        padding: {
            top: $boxModel;
            bottom: $boxModel;
        }
        &:not(:first-child) {
            border-top: 1px solid $gray;
        }
    }
    &-product__container {
        @media #{$desktop} {
            display: flex;
            align-items: flex-start;
        }

    }
    .search__product-header {
        @media #{$desktop} {
            display: flex;
            align-items: center;
        }
        .search__thumb {
            width: 140px;
            height: auto;
            margin-right: $boxModel;
        }
    }
    .search__product-content {
        width: 100%;
        .product {
            @media #{$desktop} {
                // display: flex;
                // flex-direction: row-reverse;
                // align-items: center;
                // padding: {
                //     left: $boxModel;
                // }
            }
            box-sizing: border-box;
            .summary {
                // display: flex;
                // align-items: center;
            }
            .woocommerce-tabs {
                .wc-tabs,
                .woocommerce-Tabs-panel > h2 {
                    display: none;
                }
                .woocommerce-Tabs-panel {
                    box-sizing: border-box;
                    @media #{$desktop} {
                        padding-right: $boxModel;
                    }
                }
                .woocommerce-product-attributes-item__label {
                    text-align: left;
                }
                th {
                    padding-right: 5px;
                    &:after {
                        content: ": ";
                    }
                    font-weight: 700;
                }
            }
            .product_meta {
                display: flex;
                flex-direction: column;
                > span {
                    font-weight: 700;
                    .sku, a {
                        font-weight: 400;
                    }
                }
            }
        }
        .variations_form {
            @media #{$desktop} {
                display: flex;
                // align-items: center;
                justify-content: space-between;
                padding-right: $boxModel;
            }
            .variations {
                border-collapse: collapse;
                tr {
                    td {
                        padding: {
                            top: $boxModel / 3;
                            right: $boxModel / 3;
                            bottom: $boxModel / 3;
                            // left: $boxModel / 3;
                        }
                    }
                }
            }
            .quantity {
                width: 100%;
                > label {
                    // display: none;
                }
                .input-text {
                    width: 60px;
                }
            }
            .button {
                @include btn($mainColor);
            }
        }
    }
    .search__title {
    }
}