/*******************************************************************************
Off canvas menu (móvil) */

body.off-canvas-is-active {
	right: 260px;
	overflow: hidden;
}

.offcanvas {
	color: #000;
	background-color: white;
	box-sizing: border-box;
	padding: {
        top: $boxModel * 3;
        right: $boxModel;
        bottom: $boxModel;
        left: $boxModel;
    }
	line-height: 1.5;
	height: 100%;
	width: calc(100% - 70px);
	max-width: 260px;
	position: fixed;
	top: 0;
	right: -320px;
	box-shadow: 8px 0px 6px rgba(0, 0, 0, 0.03);
	transition: .75s $cubicBezier;;
	z-index: 10;
    overflow-y: auto;
    .admin-bar & {
        top: 46px;
    }
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.04);
}

.desktop .offcanvas {
	display: none;
}

.off-canvas-is-active .offcanvas {
	right: 0;
}