.page-contacto {
    background-color: lighten($mainColor, 2);
    .contacto__col {
        // color:  $white;
    }
    .contacto__col-left {
       @media #{$desktop} {
           padding-right: $boxModel;
       }
    }
    .contacto__col-right {
        @media #{$desktop} {
            padding-left: $boxModel;
        }
    }
    input, textarea {
        background-color: #fffdfb;
        border: 0 !important;
        min-height: 35px;
    }
    textarea {
        min-height: 100px;
    }
    .frm_error {
        color: #eeff0d;
    }
}

// Formidable form
.frm_form_field {
    width: 100% !important;
    display: block;
    margin: {
        top: $boxModel;
        bottom: $boxModel;
    }
}

.frm_message {
    background: darken($gray, 30);
    padding: 20px 20px;
    color: white;
}
.contacto__table {
    border-collapse: collapse;
    tr {
        border-bottom: 1px solid $gray;
        td {
            box-sizing: border-box;
            padding: {
                top: $boxModel;
                right: $boxModel;
                bottom: $boxModel;
                left: $boxModel;
            }
        }
    }
    .fa-whatsapp {
        font-size: 20px;
        vertical-align: middle;
        margin-right: 6px;
    }
}