.main-footer {
    background-color: $mainColor;
    padding-bottom: $boxModel * 6;
    .main-footer__title {
        font-weight: 100;
        border-bottom: 1px solid $white;
        padding-bottom: $boxModel;
    }
    .main-footer__col {
        &:not(:first-child) {
            @media #{$mobile} {
                margin: {
                    top: $boxModel * 2;
                }
            }
        }
    }
    .main-footer__menu {
        line-height: 2.5;
    }
    .main-footer__menu-social {
        font-size: 22px;
        color: white;
        ul {
            display: flex;
            li:not(:first-child) {
                margin-left: $boxModel;
            }
        }
    }
    .main-footer__menu-2cols {
        @media #{$desktop} {
            column-count: 2;
        }
    }
    &__bottom {
        margin: {
            top: $boxModel * 2;
            bottom: $boxModel * 2;
        }
    }
}