.sucursales {
    text-align: center;

    #sucursales-header {
        background: $white;
    }

    .headers-labels-titulo {
        display: flex;
        align-items: center;
        padding: 20px;
        justify-content: center;
    }
    .headers-labels-servicios-icons {
        position: sticky;
        z-index: 2;
        top: 60px;
        background-color: $white;
        transition: all .25s $linear;
        .is-scrolled & {
            transition: all .25s $linear 1s;
            background-color: lighten($gray, 15);
        }
        font-size: 10px;
        // background: orange;
        // color: white;
        @media #{$mobile} {
            display: none;
        }

        .headers-labels-servicios-icons-container {
            .servicios-icon {
                border: 1px solid darken( $gray, 5 );
                display: flex;
                min-height: 50px;
                .icon-label,
                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-sizing: border-box;
                    padding: 4px;
                }
                .icon-label {
                    flex: 2;
                    //height: 130px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i {
                        //transform: rotate(-90deg);
                        line-height: 1;
                        // font-weight: 700;
                        font-size: 12px;
                    }
                }
                .icon {
                    flex: 1;
                    // background-color: $white;
                    color: $mainColor;
                }
            }

        }

        .fa {
            font-size: 17px;
            color: inherit;
        }
    }
    .headers-labels-servicios {
        background-color: $white;
        transition: all .25s $linear;
        .is-scrolled & {
            transition: all .25s $linear 1s;
            background-color: lighten($gray, 15);
        }
         @media #{$desktop} {
            position: sticky;
            top: 110px;
            border-left: 1px solid $gray;
            border-right: 1px solid $gray;
        }
        [class*="headers-label"] {
            font-weight: 100;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1px;
            @extend .ui-title;
        }
        .headers-label,
        .headers-label-estado {
           // background-color: $blue;
           border-bottom: 1px solid $gray;
        }
        .headers-label-sucursal {
           // background-color: $mainColor;
           @extend .headers-label;
        }
    }

    .sucursal {
        &:not(:last-child) {
            border-bottom: 1px solid $mainColor;
        }
        .estado,
        .local,
        .direccion,
        .servicio {
            display: flex;
            align-items: center;
        }
        .servicios {
            .servicios-container {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                @media #{$mobile} {
                    align-items: flex-start;
                }
            }
            .checked {
                color: lighten( $mainColor, 10 );
            }
            .checked-label {
                @media #{$desktop} {
                    display: none;
                }
            }
            .tache {
                //color: red;
                visibility: hidden;
            }

        }
        .direccion {
            text-align: left;
        }
        .estado {
            text-transform: uppercase;
            @media #{$mobile} {
                font-size: 15px !important;
                background-color: $mainColor;
                color: $white;
            }
        }
        .direccion, .estado , .local, .servicios {
            box-sizing: border-box;
            padding: 8px 20px;
            font-size: 12px;

        }
        .estado, .local {
            display: flex;
            align-items: center;
            justify-content: center;
            > * {
                width: 100%;
            }
        }
    }

}
