/*******************************************************************************
/* Grid */

Construye la retícula 

$container_selector: '.categorias-grid'
$subcontainer_selector: '.categories-holder'
$grid_item_selector: '.grid-category'
$grid_item_fraction: repeat(2, 1fr)

#{$subcontainer_selector} 
    @media #{$desktop} 
        display: grid
        grid:
            template:
                columns: repeat(3, 1fr)
                rows: repeat(2, 300px)
            column:
                gap:
        #{$grid_item_selector}
            display: grid
            width: 100%
            height: 100%
        $pos: ( 'odd', 'even' )
        @each $position in $pos
            &:nth-child(#{$position})
                #{$grid_item_selector}:nth-child(1)
                    grid: 
                        row: if( $position == 'odd', #{1/2},#{ 1/3} )
                        column: if($position == 'odd', #{1/3}, #{1/2})
                        template:
                            columns: if($position == 'odd', $grid_item_fraction, 100%)
                            rows:  if($position == 'odd', 100%, $grid_item_fraction)
                #{$grid_item_selector}:nth-child(2)
                    grid: 
                        row: if( $position == 'odd', #{1/3}, #{1/2} )
                        column: if($position == 'odd', #{3/4}, #{2/4})
                        template:
                            columns: if($position == 'odd', 100%, $grid_item_fraction)
                            rows:  if($position == 'odd', $grid_item_fraction, 100%)
                    #{$grid_item_selector}__title
                        grid:
                            column: if($position == 'odd', auto, #{2/3})
                            row: 1/2
                    #{$grid_item_selector}__img
                        grid:
                            column: if($position == 'odd', auto, #{1/2})
                            // row: 1/2
                #{$grid_item_selector}:nth-child(3)
                    grid: 
                        row: 2/3
                        column: if($position == 'odd', #{1/3}, #{2/4})
                        template:
                            columns: if($position == 'odd', $grid_item_fraction, $grid_item_fraction)
                            rows:  if($position == 'odd', 100%, 100%)
                    #{$grid_item_selector}__title
                        grid:
                            column: if($position == 'odd', #{2/3}, auto)
                            row: 1/2
                    #{$grid_item_selector}__img
                        grid:
                            column: if($position == 'odd', #{1/2}, auto)
                            row: 1/2


/*******************************************************************************
/* Grid item */

Estíla la arquitectura interior de cada elemento dentro de la retícula

#{$grid_item_selector}
    display: inline-block
    transition: all .5s $cubicBezier
    position: relative
    &__title
        @media #{$mobile} 
            height: 150px
        transition: all .25s $linear
        background:
            color: lighten($gray, 10)
        display: flex 
        align-items: center
        justify-content: center
        img 
            @media #{$desktop} 
                max-width: $boxModel * 9
                
            @media #{$mobile} 
                max-width: $boxModel * 5
                
            width: 100%
    &__img
        overflow: hidden
        img 
            transition: all .25s $linear
            width: 100%
            height: 100%
            object:
                fit: cover
                position: center
            transform: scale(1.3) rotate(0deg)
    &:hover 
        z-index: 1
        box-shadow: 0px 0px 30px rgba($black, .25)
        #{$grid_item_selector}__title
            background-color: $gray
            filter: saturate(0) invert(1)
        #{$grid_item_selector}__img img
            transform: scale(1.1) rotate(1deg)
            filter: saturate(1)