.video {
    position: relative;
    display: block;
    &:after {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: {
            top: auto;
            right: auto;
            bottom: auto;
            left: auto;
        }
        width: 100px;
        height: 100px;
        background: {
            image: url('assets/img/icon-play.png');
            repeat: no-repeat;
            position: center;
        }
    }
    .video__thumb {
        width: 100%;
        height: 40vh;
        min-height: 400px;
        object-fit: cover;
        object-position: center;
    }
}