.absolute {
    background-color: $mainColor;
    color: $white;
    box-sizing: border-box;
    // padding: {
    //     top: $boxModel;
    //     right: $boxModel;
    //     bottom: $boxModel;
    //     left: $boxModel;
    // }
    .absolute__col {
        flex: 1 auto;
    }
    .absolute__content {
        font: {
            size: 14px;
        }
        .absolute__menu {
            display: flex;
            .absolute__menu__item {
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
            .aboslute__menu-icon {
                vertical-align: middle;
            }
        }
    }
    .absolute__content--left {
        .absolute__menu {
            .absolute__menu__item {
                margin-right: $boxModel;
            }
        }
    }
    .absolute__content--right {
        display: flex;
        justify-content: flex-end;
        .absolute__menu {
            .absolute__menu__item {
                margin-left: $boxModel;
            }
        }
    }
    
}