.slick-slider {
    position: relative;
}

.slick-slide {
    transition: all .25s ease-in;
    opacity: 0;
    box-sizing: border-box;
    padding: {
        top: 0;
        right: $boxModel;
        bottom: 0;
        left: $boxModel;
    }
    img {
        width: 100%;
    }
}

.slick-cloned, 
.slick-active {
    opacity: 1;
}

.slick-dots {
    display: flex;
    justify-content: flex-end;
    padding: {
        top: 0px;
        right: $boxModel;
        bottom: 0px;
        left: $boxModel;
    }
    button {
        background-color: $gray;
        outline: 0;
        border: 0;
        color: transparent;
        $slickDotSize: 8px;
        width: $slickDotSize;
        height: $slickDotSize;
        margin: 1px;
        padding: {
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
        }
    }
    .slick-active {
        button {
            background-color: $mainColor;
        }
    }
}

.slick-arrow {
    background-color: $white;
    box-shadow: 2px 2px 6px rgba(0,0,0,.15);
    border: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
    z-index: 1;
    .slick-icon {
        &:before, &:after {
            content: "";
            display: block;
            width: 10px;
            height: 1px;
            background-color: $black;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    &.slick-prev {
        .slick-icon {
            &:before {
                transform: rotate(-45deg);
                transform-origin: top left;
            }
            &:after {
                transform: rotate(45deg);
                transform-origin: bottom left;
            }
        }
    }
    &.slick-next {
        right: 0;
        .slick-icon {
            &:before {
                transform: rotate(45deg);
                transform-origin: top right;
            }
            &:after {
                transform: rotate(-45deg);
                transform-origin: bottom right;
            }
        }
    }
}