.article
    h1, h2, h3
        @extend .ui-title-big
    h4, h5, h6
        @extend .ui-title-small
    > .block-section
        margin:
            top: 0
            bottom: 0
        position: relative
        box-sizing: border-box
        padding: 
            top: $boxModel
            right: $boxModel
            bottom: $boxModel
            left: $boxModel
        display: flex 
        align-items: center
        justify-content: flex-start
        &:nth-child(1):before,
        &:nth-child(odd):last-child::after
            background-color: $mainColor
        &:nth-child(odd)
            $el_height: 210px
            min-height: 500px
            background:
                color: $mainColor
            color: $white
            // visibility: hidden
            margin:
                bottom: $el_height
                top: $el_height
            &:before,
            &:after
                content: ""
                display: blocK
                position: absolute
                width: 100%
                height: $el_height
                left: 0
                right: 0
            &:before 
                bottom: 100%
                background:
                    image: url('assets/img/shape-odd.svg')
                    size: contain
                    position: bottom
                    repeat: no-repeat
            &:after
                top: 100%
                background:
                    image: url('assets/img/shape-even.svg')
                    size: contain
                    position: top  
                    repeat: no-repeat
        &:nth-child(even)
            // background-color: blue
            // visibility: hidden
    > figure 
        width: 100%
        img
            width: 100%;
            height: auto

    .block-section
        width: 100%
        &-wrap
            width: 100%
            max-width: 1000px
            margin:
                left: auto
                right: auto
            box-sizing: border-box
            padding:
                left: $boxModel
                right: $boxModel
                top: $boxModel / 2
                bottom: $boxModel / 2