$btnPaddingX: $boxModel;
$btnPaddingY: $boxModel / 2;
$btnMinHeight: $boxModel * 2;
$btnFontSize: 13px;
$btnFontWeight: 400;

@mixin btn($color, $outline: false, $clear: false) {
    padding: {
		top: $btnPaddingY;
		bottom: $btnPaddingY;
		left: $btnPaddingX;
		right: $btnPaddingX;
	}
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: $btnMinHeight;
	// text-transform: uppercase;
	border-radius: 3px;
	font: {
		weight: $btnFontWeight;
		size: $btnFontSize;
	}
	@if $outline {
		background-color: transparent;
		border: {
			color: $color;
			style: solid;
			width: 1px;
		}
		&:hover {
			color: darken($color, 20);
			//opacity: .65;
			border-color: darken($color, 20);
		}
		@if $color == $secondaryColor {
			color: $secondaryColor;	
		} @else if $color == $white {
			color: $white;
		} @else {
			color: $color;
		}
	} @else if $clear {
		background-color: transparent;
		border: 0;
		&:hover {
			color: rgba(red($color), green($color), blue($color) - 50, 1);
			opacity: .65;
		}
		@if $color == $secondaryColor {
			color: $secondaryColor;	
		} @else if $color == $white {
			color: $white;
		} @else {
			color: $color;
		}
	} @else {
		background-color: $color;
		border: 0;
		&:hover {
			//opacity: .65;
			// background-color: darken($color, 15);
		}
		@if $color == $secondaryColor or $color == $white {
		color: $black;	
	} @else {
		color: $white;
	}
	}
    box-sizing: border-box;
    //border-radius: 40px;
    transition: .25s $linear;
	cursor: pointer;
}
// Btn
[class*="ui-btn"],
[class*="ui-button"] {
	@include btn($mainColor);
}

.ui-btn, 
.ui-button {
	&:hover {
		background-color: darken($mainColor, 15);
	}
}

[class*="ui-btn--outline"],
[class*="ui-button--outline"] {
	@include btn($mainColor, true);
}

[class*="ui-btn--clear"],
[class*="ui-button--clear"] {
	@include btn($mainColor, false, true);
}


// El map $color está definido en _vars.scss
// Crea un selector y valores para cada color en el map $colors
@each $color, $value in $colors {
	.ui-button--#{$color}, 
	.ui-btn--#{$color} { 
		background-color: #{$value}; 
		@if lightness($value) > 50 {
			color: $black;
		}
		&:hover {
			@if lightness($value) > 50 {
				background-color: darken($value, 15);
				color: $white;
			} @else {
				background-color: lighten($value, 20);
			}
		}
	}
	.ui-btn--outline--#{$color}, 
	.ui-button--outline--#{$color} { 
		border-color: #{$value}; 
		color: #{$value}; 
		&:hover {
			@if lightness($value) > 50 {
				border-color: darken($value, 15);
				color: darken($value, 15);
			} @else {
				border-color: lighten($value, 20);
				color: lighten($value, 20);
			}
		}
	}
	// .ui-btn-clear-#{$color}, .ui-button-clear-#{$color} { background-color: #{$value}; }
}



