.categoria {
    position: relative;
    &:after {
        // content: "";
        display: block;
        background: {
            color: lighten($gray, 15);
        }
        width: calc(90% + #{$boxModel * 2});
        @media #{$mobile} {
            width: 100%;
        }
        height: 100%;
        min-height: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    margin: {
        top: $boxModel * 2;
        bottom: $boxModel * 2;
    }
    p {
        margin: {
            top: $boxModel;
            right: 0;
            bottom: $boxModel;
            left: 0;
        }
    }
    * {
        font-size: inherit;
    }
    &__description {
        font-size: 15px;
    }
    &.categoria--rtl {
        &:after {
            @media #{$desktop} {
                right: 0;
                left: initial;
            }
        }
        .categoria__cols {
            @media #{$desktop} {
                flex-direction: row-reverse;
            }
            .categoria__col--right {
                @media #{$desktop} {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    // justify-content: flex-end;                    
                }
            }
        }
    }
    .categoria__cat-label {
        font: {
            // size: 12px;
            family: 'helvetica', sans-serif;
        }
        @extend .ui-label-text;
        opacity: .5;
    }
    .categoria-top, 
    .categoria-bottom {
        background: {
            color: lighten($gray, 10);
        }
        position: relative;
        &:after {
            content: "";
            display: block;
            width: 400px;
            height: 100%;
            background: {
                color: lighten($gray, 10);
            }
            position: absolute;
            top: 0;
            right: 100%;
        }
    }
    &.categoria--rtl {
        .categoria-top, 
        .categoria-bottom {
            &:after {
                left: 100%;
            }

        }
    }
    .categoria__col {
        box-sizing: border-box;
        padding: {
            top: $boxModel;
            right: $boxModel;
            bottom: $boxModel;
            left: $boxModel;
        }
    }
    .categoria__col--left {
        .categoria__img-brand {
            margin: {
                top: $boxModel * 2;
                bottom: $boxModel * 2;
            }
        }
    }
    .categoria__col--right {
            .categoria__img {
                width: 100%;
            }
            .categoria__img_default-container {
                width: 100%; 
                height: 400px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $lightGray;
            }
            .categoria__img_default {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
    }
    .categoria__selected {
        .categoria__cat {
            @extend .ui-label-text;
            text-transform: uppercase;
            line-height: 1;
        }
        .categoria__selected-title {
            @extend .ui-title-big;
            line-height: 1;
            color: darken($gray, 25);
        }
    }
    // .categoria__presentacion {
    //     text-transform: capitalize;
    // }
    .categoria__ficha-tecnica {
        .categoria__ficha-tecnica__icon {
            font-size: 12px;
            opacity: .75;
            margin-left: 3px;
            vertical-align: middle;
        }
    }
    .categoria__samples {
        display: flex;
        flex-wrap: wrap;
        .categoria__sample {
            vertical-align: middle;
            font-size: 0;
            position: relative;
            .categoria__sample-img,
            .categoria__sample-default {
                $categoriaSampleSize: 42px;
                width: $categoriaSampleSize;
                height: $categoriaSampleSize;
                object-fit: cover;
                object-position: center;
                @media #{$mobile} {
                    // $sampleSize: 60px;
                    // width: $sampleSize;
                    // height: $sampleSize;
                }
            }
            .categoria__sample-default {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                background-color: $gray;
                color: $lightGray;
                &_odd {
                    filter: contrast(0.95)
                }
                &_even {

                }
            }
        }
    }
    .categoria__help-text {
        @extend .ui-help-text;
        font-weight: 700;
        opacity: .5;
    }
    [data-title] {
        $titleBG: $mainColor;
        $titleArrowSize: 4px;
        &:hover {
            &:before {
                content: attr(data-title);
                position: absolute;
                top: calc(100% + #{$titleArrowSize * 2});
                display: inline-block;
                padding: {
                    top: 2px;
                    right: 6px;
                    bottom: 2px;
                    left: 6px;
                }
                // border-radius: 2px;
                background: $titleBG;
                color: #fff;
                font-size: 11px;
                white-space: nowrap;
                z-index: 1;
                border-radius: 2px;
            }
            &:after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                z-index: 1;
                top:100%;
                left: 10px;
                border: {
                    style: solid;
                    width: $titleArrowSize;
                    color: transparent;
                    bottom: {
                        width: $titleArrowSize;
                        color: $titleBG;
                    }
                }
                
            }
        }
    }
}

.variations-form__wrapper {

    @media #{$desktop} {
        min-width: 770px;
        // padding: {
        //     left: $boxModel * 2;
        //     right: $boxModel * 2;
        // }
    }

    .variations-form__subtitle,
    .variations-form__title,
    .variations-form__description {
        // @media #{$desktop} {
        //     margin-left: $boxModel;
        // }
        
    }
    .variations-form__description {
        &-gallery-img-link {
            
        }
        &-gallery-img {
            width: 120px;
            height: 120px;
            object: {
                fit: cover;
                position: center;
            }
        }
    }

    .variations-form__subtitle {
        @extend .ui-help-text;
    }
    .variations-form__title {
        @extend .ui-title;
        line-height: 1;
        margin: {
            top: 0;
            bottom: $boxModel;
        }
    }
    .variations-form,
    .variations_form {
        .variations-form-container {
            @media #{$desktop} {
                display: flex;
                align-items: flex-start;
                // justify-content: space-between;
            }
            padding: {
                top: $boxModel;
                bottom: $boxModel;
            }
            &_layout-column {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
        .variations-form__variations {
            display: flex;
        }
        .variations-form__label {
            @extend .ui-help-text;
            display: block;
            width: 100%;
            height: 34px;
            box-sizing: border-box;
            padding: {
                top: $boxModel / 2;
                bottom: $boxModel / 2;
            }
            @media #{$desktop} {
                margin-bottom: $boxModel;
            }
            border-bottom: 1px solid darken($gray, 15);
        }
        .variations-form__value {
            position: relative;
            @media #{$mobile} {
                margin-top: $boxModel;
            }
            .reset_variations {
                position: absolute;
                top: calc(100% + 4px);
                left: 0;
            }
        }
        .variations-form__data {
            box-sizing: border-box;
            @media #{$desktop} {
                min-height: $boxModel * 6;
                padding: {
                    // top: $boxModel;
                    right: $boxModel;
                    // bottom: $boxModel;
                    // left: $boxModel;
                }
            }
            display: flex;
            flex-direction: column;
            &.single_variation_wrap {
                padding-right: 0;
            }
        }
        input, select {
            height: 40px;
            width: 100%;
            margin: {
                top: 0;
                bottom: 0;
            }
            background-color: lighten($gray, 12);
        }
        .variations-form__data-image {
            .categoria__sample-img {
                $variations_form_img_size: 180px;
                width: $variations_form_img_size;
                height: $variations_form_img_size;
                object:{
                    fit: cover;
                    position: center;
                }
                border: 1px solid rgba(0,0,0,0.15);
            }
        }
        .variations-form__close-lightbox {
            color: darken( $mainColor, 10);
            font-weight: 700;
        }
        &__noquote-message {
            
        }
        button {
            margin: {
                // right: $boxModel;
                top: $boxModel;
            }
            display: block;
            margin-left: auto;
        }
    }
}
