
/*******************************************************************************
Header */
.main-header {
	position: relative;
	z-index: 11;
	box: {
		sizing: border-box;
		//shadow: 10px 0px 10px rgba(0,0,0,0.04);
	}
	font: {
		size: 16px;
		weight: 100;
	}
	header {
		// background: {
		// 	color: $white;
		// }
	}
	.is-scrolled & {
		position: sticky;
		top: 0;
		background-color: $white;
		box-shadow: 0px 2px 6px rgba($black, .15);
	}
	.is-scrolled.admin-bar & {
		top: $adminbarHeight;
	}
	.wk-section-wrap {
		transition: all .25s $linear;
	}
	.is-scrolled & {
		> .wk-section-wrap {
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	.main-header__menu-list {
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		overflow: hidden;
		&:hover {
			overflow: initial;
		}
		> .menu-item {
			position: relative;
			// overflow: hidden;
			transition: all .25s linear;
			> a {
				transition: all .25s $linear;
				.is-scrolled & {
					padding-top: 15px;
					padding-bottom: 15px;
				}
				padding: 30px 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-top-width: 4px;
				border-top-style: solid;
				border-top-color: transparent;
				transition: all .25s ease-in-out;
				text-decoration: none;
			}
			&.menu-is-active {
				overflow: initial;
				> a {
					border-top-color: gold;
				}
				> .sub-menu {
					display: block;
					opacity: 1;
					top: calc(100%);
					animation: wk-menu-item-anim .5s
				}
			}
			.sub-menu {
				background: darken($gray, 20);
				color: white;
				position: absolute;
				top: 100%;
				right: 0;
				left: 0;
				margin: auto;
				width: 200px;
				box-sizing: border-box;
				padding: $boxModel $boxModel;
				transition: top .25s ease-in-out .05s, opacity .25s linear.15s;
				opacity: 0;
				column-count: 2;
				column-gap: 20px;
				line-height: 1.25;
				> .menu-item {
					list-style: none;
					line-height: 1.5;
					margin-bottom: 11px;
					font-size: 11px;
					font-weight: 100;
					a {
						transition: all .25s linear;
						&:hover {
							color: darken($white, 15);
						}
					}
				}
				&:before {
					position: absolute;
					bottom: 100%;
					left: $boxModel;
					content: "";
					display: inline-block;
					width: 0;
					height: 0;
					border: {
						style: solid;
						width: 10px;
						color: transparent;
						bottom: {
							color: darken($gray, 20);
						}
					}
				}
			}
			&:hover {
				background-color: $lightGray;
				.sub-menu {
					animation: {
						name: wk-menu-item-anim;
						duration: .5s;
						direction: normal;
						fill-mode: both;
					}
					
				}
			}
		}
	}
	.menu-item:last-child > .sub-menu {
		left: initial;
		right: 0;
	}
	.main-header__cart-count {
		margin-left: $boxModel;
		cursor: pointer;
	}
}
@keyframes wk-menu-item-anim {
	from {
		display: none;
		opacity: 0; 
		transform: translateY(20px);
	}
	to {
		display: block;
		opacity: 1; 
		transform: translateY(0px);
	}
}


.main-header__logo-container,
.main-header__menu-container {
	display: flex;
	align-items: center;
}

.main-header__menu-container {
	justify-content: flex-end;
}

.main-header__logo {
	display: flex;
	align-items: center;
	.main-header__logo-image {
		transition: all .25s $linear;
		.is-scrolled & {
			width: 180px;
		}
		@media #{$mobile} {
			width: 100px;
		}
	}
	// &:before {
	// 	content: "";
	// 	display: block;
	// 	width: 100px;
	// 	height: 1px;
	// 	background-color: $black;
	// 	margin-right: 10px;
	// 	@media #{$mobile} {
	// 		width: 20px;
	// 	}
	// }
}

/* Off canvas */

.main-header__offcanvas-icon-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}


/* No flexbox */

/* Main menu & Off canvas menu */

.no-flexbox .main-header__menu-list {
	text-align: right;
	display: block;
}

.no-flexbox .main-header__logo,
.no-flexbox .main-header__menu,
.no-flexbox .main-header__offcanvas-icon {
	height: 40px;
}

.no-flexbox .main-header__menu,
.no-flexbox .main-header__offcanvas-icon {
	float: right;
}

.no-flexbox .main-header__logo,
.no-flexbox .main-header__menu {
	display: table;
}

.no-flexbox .main-header__logo span,
.no-flexbox .main-header__menu-list,
.no-flexbox .main-header__offcanvas-icon .main-header__offcanvas-blocks {
	display: table-cell;
	vertical-align: middle;
}

.no-flexbox .main-header__menu-list
li {
	display: inline-block;
}





#off-canvas-icon {
	padding: 0 12px;
	font-size: 18px;
	cursor: pointer;
}

/* Icon */
.main-header__offcanvas-icon {
	display: block;
	width: 30px;
	height: 40px;
	cursor: pointer;
	position: relative;
	padding: {
		left: $boxModel / 4;
		right: $boxModel / 4;
	}
}

.main-header__offcanvas-icon .main-header__offcanvas-blocks {
	position: absolute;
}

.main-header__offcanvas-icon .main-header__offcanvas-blocks,
.main-header__offcanvas-icon .main-header__offcanvas-blocks:before,
.main-header__offcanvas-icon .main-header__offcanvas-blocks:after {
	width: $boxModel;
	height: 2px;
	background-color: #000;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	transition: all .25s linear .25s;
	border: {
		radius: 10px;
	}
}

.main-header__offcanvas-icon .main-header__offcanvas-blocks:before,
.main-header__offcanvas-icon .main-header__offcanvas-blocks:after {
	content: "";
}

.main-header__offcanvas-icon .main-header__offcanvas-blocks:before {
	top: 12px;
}

.main-header__offcanvas-icon .main-header__offcanvas-blocks:after {
	top: -12px;
}

.off-canvas-is-active .main-header__offcanvas-icon .main-header__offcanvas-blocks {
	background-color: transparent;
}

.off-canvas-is-active .main-header__offcanvas-icon .main-header__offcanvas-blocks:before {
	transform: rotate(45deg);
	/* transform-origin: left; */
}

.off-canvas-is-active .main-header__offcanvas-icon .main-header__offcanvas-blocks:after {
	transform: rotate(-45deg);
}

.off-canvas-is-active .main-header__offcanvas-icon .main-header__offcanvas-blocks:before,
.off-canvas-is-active .main-header__offcanvas-icon .main-header__offcanvas-blocks:after {
	transform-origin: center;
	top: 0;
}
