#searchform {
    // position: fixed;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // background-color: white;
    // z-index: 12;
    // color: black;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // height: 100vhf;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 80%;
    .admin-bar & {
        // height: calc(100vh - #{$adminbarHeight});
    }
    .searchform__input-text {
        background: transparent;
        border: 0;
        border-bottom: 1px solid $gray;
        font-size: 40px;
        font-weight: 100;
        height: initial;
        transition: all .25s linear;
        &:focus {
            outline: 0;
            border: {
                bottom: {
                    width: 4px;
                    color: darken($gray, 50);
                }
            }
        }
    }
    .searchform__input-button {
        background: transparent;
        outline: 0;
        border: 0;
        background-color: $mainColor;
        color: white;
        padding: 10px 28px;
        margin-bottom: 6px;
        margin-top: auto;
        margin-left: 20px;
    }
}