.woocommerce-cart-form {
    table.woocommerce-cart-form__contents {
        width: 100%;
        font-size: 12px;
        border-collapse: collapse;
        thead, tbody, .cart_item:not(:last-child) {
            border: 1px solid $gray;
        }
        thead {
            font: {
                weight: 700;
                size: 11px;
            }
            tr {
                th {
                    text-align: left;
                    padding: {
                        top: $boxModel / 2;
                        bottom: $boxModel / 2;
                    }
                }
            }
        }
        tbody {
            box-sizing: border-box;
            padding: {
                top: $boxModel;
                right: $boxModel;
                bottom: $boxModel;
                left: $boxModel;
            }
            border-collapse: collapse;
            tr {
                height: 20px;
                td, th {
                    height: 20px;
                }
                td {
                    padding: {
                        top:0;
                        // right: $boxModel / 2;
                        bottom:0;
                        // left: $boxModel / 2;
                    }
                    vertical-align: middle;
                }
            }
        }
    }
    .cart_item {  
        .product-remove{
            font-size: 12px;
            transition: all .25s linear;
            text-align: center;
            opacity: .75;
            color: $red;
            &:hover {
            }
        }
        .product-thumbnail {
            .attachment-woocommerce_thumbnail {
                width: 32px;
                height: 32px;
                object-fit: cover;
                object-position: center;
            } 
        }
        .product-name {

        }
        .product-price {
            
        }
        .product-quantity {
            label {
                display: none;
            }
            input[type="number"] {
                display: inline-block;
                width: 70px;
                font-size: 12px;
                text-align: center;
            }
        }
        .product-subtotal {

        }
    }
    .cart_actions {
        text-align: right;
        td {
            // display: flex;
        }
    }
    .coupon {
        display: inline;
        padding: {
            left: $boxModel / 2;
            right: $boxModel / 2;
        }
    }
}
.cart-collaterals {
    padding: {
        top: $boxModel;
        // right: $boxModel;
        bottom: $boxModel;
        // left: $boxModel;
    }
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .checkout-button {
        @include btn($mainColor);
    }
}