.page-checkout {
    .cart-sidebar {
        display: none;
    }
}

.woocommerce-checkout {
    @media #{$desktop} {
        display: flex;
        flex-wrap: wrap;
    }
    .woocommerce-NoticeGroup-checkout {
        width: 100%;
    }
    .customer_details_col {
        flex-basis: 50%;
        box-sizing: border-box;
        @media #{$desktop} {
            padding-right: $boxModel;
        }
    }
    .woocommerce-checkout-review-order {
        flex-basis: 50%;
        padding-top: 58px;
    }
    .woocommerce-billing-fields__field-wrapper {
        box-sizing: border-box;
        padding: {
            top: $boxModel;
            bottom: $boxModel;
        }
        display: flex;
        flex-wrap: wrap;
        .form-row-first,
        .form-row-last {
            // flex-basis: 50%;
            flex-basis: 100%;
            box-sizing: border-box;
        }
        .form-row-first {
            // padding-right: $boxModel;
        }
        .form-row-last {
            // padding-left: $boxModel;
        }
        .form-row-wide {
            flex-basis: 100%;
        }
        .woocommerce-input-wrapper {
            display: block;
             .select2-selection--single {
                @extend input[type="text"];    
            }
        }
        #billing_country_field {
            font-size: 11px;
        }
    }
    .optional {
        display: none;
    }
    .form-row {
        margin: {
            bottom: $boxModel / 2;
        }
    }
    label {
        font-size: 11px;
        font-weight: 700;
    
    }
    [for="order_comments"] {
        display: none;
    }
    textarea[name="order_comments"] {
        padding: {
            top: 10px;
            right: 10px;
            bottom: 10px;
            left: 10px;
        }
    }
    .cart-sidebar {
        display: none;
    }
    .woocommerce-additional-fields {
        h3 {
            margin-bottom: 10px;
        }
    }
    .woocommerce-input-wrapper {
        outline: 0;
    }
}

// Tabla de review
.woocommerce-checkout-review-order {
    .woocommerce-checkout-review-order-table {
        width: 100%;
        border-collapse: collapse;
        tr {
            th {
                font-weight: 700;
                text-align: left;
            }
        }
        tr {
            border: 1px solid $gray;
            td, th {
                padding: {
                    top: $boxModel / 3;
                    right: $boxModel;
                    bottom: $boxModel / 3;
                    left: $boxModel;
                }
                .variation {
                    display: flex;
                }
            }
        }
        tfoot {
            text-align: left;
        }
        strong {
            font-weight: 700;
        }
        .variation {
            dt {
                padding-right: 4px;
            }
            dd {
                font-weight: 700;
            }
        }
    }
}

#order_review_heading {
    display: none;
}

// Place order

.place-order {
    padding: {
        top: $boxModel;
        bottom: $boxModel;
    }
    .woocommerce-terms-and-conditions-wrapper {
        display: flex;
        align-items: center;
    }
    .woocommerce-privacy-policy-text {
        padding: {
            right: $boxModel;
            bottom: $boxModel;
        }
    }
    button {
        margin-right: 0;
        margin-left: auto;
        display: block;
    }
}