@mixin wc_message($bg_color, $border_color) {
    background-color: $bg_color;
    margin: 20px 0;
    padding: 10px 10px;
    border-radius: 2px;
    box-shadow: 0px 5px 6px #00000017;
    border-left: 4px solid $border_color;
    box-sizing: border-box;
    width: 100%;
}
.woocommerce-notices-wrapper,
.woocommerce-NoticeGroup {
    width: 100%;
    transition: opacity .5s $cubicBezier , transform .5s $cubicBezier2;
    transform: translateY(-30px);
    .cart-sidebar & {
        opacity: 0;
        position: absolute;
        bottom: 100%;
        font-size: 13px;
        max-width: 600px;
        margin: auto;
        left: 0;
        right: 0;
    }

    .woocommerce-message {
        @include wc_message( lighten($yellow, 40) , $yellow );
        .button.wc-forward {
            display: none;
        }
    }
    .woocommerce-error {
       @include wc_message( lighten($red, 25) , $red )
    }
}

.woocommerce-notice {
    @include wc_message( lighten($yellow, 40) , $yellow );
    margin: {
        top: $boxModel;
        bottom: $boxModel;
        left: 0;
        right: 0;
    }
}

.woocommerce-error::before, 
.woocommerce-info::before, 
.woocommerce-message::before {
    position: static;
}

