$border: 1px solid $gray;

.woocommerce-order {
    .woocommerce-order-overview {
        background-color: lighten($gray, 15);
        padding: {
            top: $boxModel / 2;
            right: $boxModel / 2;
            bottom: $boxModel / 2;
            left: $boxModel / 2;
        }
        @media #{$desktop} {
            display: flex;
            align-items: center;
        }
        margin-bottom: $boxModel;
        li {
            text-transform: uppercase;
            font: {
                size: 10px;
            }
            strong {
                font: {
                    size: 11px;
                    weight: 700;
                }
                text-transform: lowercase;
            }
            display: flex;
            flex-direction: column;
            &:not(:last-child) {
                @media #{$desktop} {
                    padding-right: $boxModel;
                    border-right: 1px dotted gray;
                }
                @media #{$mobile} {
                    border-bottom: 1px dotted gray;
                    padding-bottom: $boxModel / 3;
                }
            }
            &:not(:first-child) {
                @media #{$desktop} {
                    padding-left: $boxModel;
                }
            }
        }
    }

    .woocommerce-order-details {
        margin-bottom: $boxModel;
        .woocommerce-order-details__title {
            margin: {
                top: $boxModel;
                bottom: $boxModel;
            }
        }
        .woocommerce-table--order-details {
            width: 100%;
            border-collapse: collapse;
            border:  $border;
            th {
                text-align: left;
                font-weight: 700;
                padding: {
                    top: $boxModel / 4;
                    right: $boxModel;
                    bottom: $boxModel / 4;
                    left: $boxModel;
                }
                border-bottom: $border;
            }
            tr {
                border-bottom: $border;
                td {
                    padding: {
                        top: $boxModel / 4;
                        right: $boxModel;
                        bottom: $boxModel / 4;
                        left: $boxModel;
                    }
                    // display: flex;
                    // flex-wrap: wrap;
                    .wc-item-meta li {
                        display: flex;
                    }
                }
            }
        }
    }

    .woocommerce-customer-details {
        .woocommerce-columns {
            @media #{$mobile} {
                flex-direction: column;
            }
        }
        .woocommerce-column {
            .woocommerce-column__title {
                margin: {
                    top: $boxModel;
                    bottom: $boxModel;
                }
            }
        }
        .woocommerce-column--1 {
            @media #{$desktop} {
                margin-right: $boxModel;
            }
        }
        .woocommerce-column--2 {
            @media #{$desktop} {
                margin-left: $boxModel;
            }
        }
        address {
            line-height: 1.5;
            box-sizing: border-box;
            padding: {
                top: $boxModel;
                right: $boxModel;
                bottom: $boxModel;
                left: $boxModel;
            }
            border: $border;
            min-height: 170px;
            .woocommerce-customer-details--phone,
            .woocommerce-customer-details--email {
                &:before {
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    content: "";
                    display: inline-block;
                    margin-right: 6px;
                    opacity: .5;
                }
            }
            .woocommerce-customer-details--phone {
                &:before {
                    content: "\f095";
                }
            }
            .woocommerce-customer-details--email {
                &:before {
                    content: "\f0e0";
                    font-weight: 400;
                }
            }
        }
    }

}