@import '_cart';
@import '_notices-wrapper';
@import '_checkout';
@import '_order';
@import '_thankyou';

.col2-set {
    display: flex;
    .col-1, .col-2 {
       flex-basis: 50%;
    }
}

.woocommerce-privacy-policy-link {
    text-decoration: underline;
}