html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 13px;
	font: inherit;
	vertical-align: baseline;
	}

body {
	overflow-x: hidden;
	font: {
		family: $mainFont;
		size: $paragraphSize;
	}
}

p{
	font-size: $paragraphSize;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, 
blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table { border-collapse: collapse; border-spacing: 0; }

a {
	color: inherit;
	text-decoration: none;
	&:active {
		//color: $mainColor;
	}
	&:focus {
		outline: none;
	}
}

strong { font-weight: 700; }

data, i { font-style: normal; }

fieldset { border: 0; }

h1,h2,h3,h4,h5,h6 {
	font: {
		family: $headersFont;
	}
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="email"],
textarea {
	width: 100%;
	margin: {
		top: 6px;
		bottom: 6px;
	}
	padding: {
		top: 0;
		right: $boxModel / 3;
		bottom: 0;
		left: $boxModel / 3;
	}
	box-sizing: border-box;
	height: 26px;
	border: 1px solid lightgray;
}
textarea {
	min-height: 80px;
}

