// Colores
$mainColor: #FA9939;
$secondaryColor: #332674;

$orange: #FA9939;
$blue: #332674;
$black: #000000;
$gray: #C6CACF;
$lightGray: rgb(230, 230, 230);
$white: #ffffff;

$yellow: #e3b602;
$red: #e5555f;
$cream: #fcecd4; 
$gold: gold;
$aqua: #61faef;
$purple: #606cc6;
$green: #51c965;
$brown: brown;
$pink: deeppink;


$colors: (
	"main"		: $mainColor,
	"secondary"	: $secondaryColor,
	"red"		: $red,
	"yellow"	: $yellow,
	"gold"		: $yellow,
	"white"		: $white,
	"black"		: $black,
	"orange"	: $orange,
	"blue"		: $blue,
	"gray"		: $gray,
	"lightGray"	: $lightGray,
	"aqua"		: $aqua,
	"purple"	: $purple,
	"green"		: $green,
	"brown"		: $brown,
	"pink"		: $pink,
	"cream"		: $cream,
);


// Fuentes
$mainFont: 'Open Sans', 'Helvetica', sans-serif;
$headersFont: $mainFont;

// Títulos 
$titleSize: 22px;
$titleSmallSize: 16px;

$titleBigSize: 32px;
$titleBigSizeMobile: 22px;

$titleExtraBigSize: 42px;
$titleExtraBigSizeMobile: 32px;

$titleMegaBigSize: 70px;
$titleMegaBigSizeDesktopLarge: 90px;
$titleMegaBigSizeMobile: 70px;
$titleMegaBigSizePhone: 50px;

$paragraphSize: 13px;
$paragraphWeight: 400;

$paragraphBigSize: 18px;
$paragraphBigWeight: 100;

$labelTextSize: 11px;
$helpTextSize: 9px;


// Caja
$boxModel: 20px;

// Media queries
$mobileMaxWidth: 756px;
$phoneMaxWidth: 416px;
$phoneSmallMaxWidth: 320px;
$desktopMaxWidth: 1280px;
$desktopLargeMinWidth: 1440px;

$mobile: ( max-width: $mobileMaxWidth );
$tablet: ( max-width: $mobileMaxWidth );
$phone: ( max-width: $phoneMaxWidth );
$phoneSmall: ( max-width: $phoneSmallMaxWidth );
$desktop: ( min-width: $mobileMaxWidth + 1 );
$desktopLarge: ( min-width: $desktopLargeMinWidth );
$desktopMedium: ( max-width: $desktopMaxWidth );

$onlyTablet: ( min-width: $phoneMaxWidth + 1 ) and ( max-width: #{$mobileMaxWidth} );
$onlyDesktopMedium: ( min-width: #{$desktopMaxWidth + 1} ) and ( max-width: $desktopLargeMinWidth );
$fromTablet: ( min-width: $phoneMaxWidth );

// Animaciones
$cubicBezier: cubic-bezier(1, -0.05, 0.2, 1);
$cubicBezier2: cubic-bezier(0.52,-0.02, 0, 0.9);
$linear: linear;

// adminbar
$adminbarHeight: 60px;



