@import 'woocommerce/hide';

// Woocommerce vista interior de categoria | fix de estílo en el tumbnail de categoría
.taxonomy-product_cat {
    .term-thumbnail-wrap > td {
        display: flex;
        align-items: center;
    }
    .term-thumbnail-wrap > td > #product_cat_thumbnail img {
        width: 100px;
        height: auto;
    }
    .acf-hidden {
        + h2 {
            display: none;
        }
    } 
    .acf-field {
        .acf-label {
            label {
                font-weight: 600;
            }
        }
    }

}

// Oculta campos de woocomerce en el administrador

// .post-type-product {
//     #postdivrich,
//     #woocommerce-product-images {
//         display: none;
//     }
//     #woocommerce-product-data {
//         ._sold_individually_field, // Vendido individualmente
//         ._purchase_note_field, // nota de compra
//         .shipping_class_field, { // CLase de envío
//             visibility: hidden;
//             display: none;
//         }
//         .linked_product_options.linked_product_tab { // TAB productos enlazados
//             display: none;
//         }
//     }
// }


/*******************************************************************************
Woocommerce */

.post-type-product {
    .form-field.term-description-wrap {
        display: none;
    }
}

.woocommerce-layout__header {
    top: 60px !important;
}

