/*!
Theme Name: WPKit Framework
Author: Alumin / Developed by Alberto Hartzet 
Author URI: https://alumin.agency
Description: WPKit framework incorpora las funcionalidades básicas para iniciar un tema de wordpress. Además incopora funcinalidades extendidas como un panel de admnistración personalizado, custom fields, SEO & Social optimization, entre otros.
Version: 5.0.2
License: © Copyright Alumin.Agency All rights reserved
@Developer: Alberto Hartzet
*/

@import '_vars';
@import '_functions';
@import '_mixins';
@import '_reset';


//librerías
@import '../../vendor/slick/slick';
@import '../../vendor/fancybox/fancybox';
@import '../../wpkit/assets/prettyprint/prettyprint';

// Fuentes
@import 'fonts/fontawesome/fontawesome';
@import 'fonts/fontawesome/solid';
@import 'fonts/fontawesome/regular';
@import 'fonts/fontawesome/brands';
@import 'fonts/material-icons';
@import 'fonts/open-sans';

// UI Kit
@import 'ui/_backgrounds';
@import 'ui/_buttons';
@import 'ui/_texts';
@import 'ui/_titles';
@import 'ui/_ui';

// Bloques
@import 'blocks/article';
@import 'blocks/alerts';

// Componentes
@import '../../components/absolute/absolute';
@import '../../components/header/header';
@import '../../components/footer/footer';
@import '../../components/slider/slider';
@import '../../components/offcanvas/offcanvas';
@import '../../components/video/video';
@import '../../components/categoria/categoria';
@import '../../components/brand-strip/brand-strip';
@import '../../components/cart-sidebar/cart-sidebar';
@import '../../components/searchform/searchform';
@import '../../components/mapa-sucursales/mapa-sucursales';
@import '../../components/categorias-grid/categorias-grid';
@import '../../components/sucursal-row/sucursal-row';


// Modulos
@import '../../modules/_style-guide/style-guide';
@import '../../modules/home/home';
@import '../../modules/quienes-somos/quienes-somos';
@import '../../modules/productos/productos';
@import '../../modules/sucursales/sucursales';
@import '../../modules/contacto/contacto';
@import '../../modules/search/search';

// Woocommerce
@import 'woocommerce/woocommerce';

// No deberías incluir estílos aquí, 
// hazlo en el componente, módulo, o 
// el archivo que corresponda de ui

.wk-section-wrap {
    box-sizing: border-box;
    padding: {
        top: $boxModel;
        right: $boxModel;
        bottom: $boxModel;
        left: $boxModel;
    }
}

#wrapper {
    width: 100%;
}

main {
    @media #{$desktop} {
        min-height: calc(100vh - (393px + 181px));
    }
}

.post-edit-link {
    display: inline-block;
    box-sizing: border-box;
    padding: {
        top: $boxModel;
        bottom: $boxModel;
    }
}

.notice-info {
    background: wheat;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px 0;
    font-size: 10px;
    p {
        margin: 10px 0;
        font-size: 12px;
    }
}
