.page-quienes-somos {
    .main-header {
        background-color: $mainColor;
        color: $white;
    }
}

.quienes-somos {
    @media #{$desktop} {
        min-height: 700px;
    }
    .quienes-somos__bg {
        position: absolute;
        top: 240px;
        left: 0;
        z-index: -1;
        width: 100%;
        height: auto;
        @media #{$mobile} {
            top: 184px;
            width: 240%;
        }
    }
    .quienes-somos__title {
        @extend .ui-title-big;
    }
    .quienes-somos__subtitle {
        @extend .ui-title-small;
    }
    .quienes-somos__col-text {
        box-sizing: border-box;
        padding: {
            top: $boxModel;
            right: $boxModel;
            bottom: $boxModel;
            left: $boxModel;
        }
        @media #{$desktop} {
            padding-right: 200px;
        }
        color: $white;
        @media #{$mobile} {
            min-height: 350px;
        }
        display: flex; 
        flex-direction: column;
        justify-content: center;
    }
    .quienes-somos__col {
        img {
            width: 100%;
            height: auto;
        }
    }
}

.sustentabilidad {
    @media #{$mobile} {
        background-color: $gray;
        box-sizing: border-box;
        padding: {
            top: $boxModel * 3;
            right: 0;
            bottom: $boxModel * 3;
            left: 0;
        }
    }
    @media #{$desktop} {
        position: relative;
        top: -100px;
        margin: {
           // top: $boxModel * 3;
            bottom: $boxModel * 3;
        }
    }
    display: flex;
    justify-content: flex-end;
    .wk-section-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .sustentabilidad__container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            height: 100%;
            @media #{$desktop} {
                padding-left: 200px;
            }
    }
    @media #{$desktop} {
        text-align: right;
        // max-width: 50%;
    }
    @media #{$mobile} {
        text-align: center;
    }
    .sustentabilidad__title {
        @extend .ui-title-small;
        color: $blue;
        font-weight: 700;
    }
}

.cualidades {
    @media #{$desktop} {
        margin: {
            top: $boxModel * 3;
            bottom: $boxModel * 3;
        }
    }
    .cualidades__col {
        text-align: center;
        box-sizing: border-box;
        padding: {
            top: $boxModel;
            right: $boxModel;
            bottom: $boxModel;
            left: $boxModel;
        }
    }
    .cualidades__icon {
        margin: {
            top: auto;
            right: auto;
            bottom: $boxModel;
            left: auto;
        }
    }
}

