.brand-strip {
    .slider-brand-strip {
        li {
            position: relative;
            .brand-strip__logo {
                width: 100%;
                max-width: 120px;
                height: auto;
                position: absolute;
                z-index: 1;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                filter: grayscale(100);
                transition: all .25s linear;
            }
            .brand-strip__image {
                transition: all .25s linear;
                filter: grayscale(100);
                position: relative;
                opacity: 0;
            }
        }
    }
    .brand-strip__image {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: center;
    }
}

.slick-slide > a:hover {
    .brand-strip__image {
        filter: grayscale(0);
        // opacity: 1;
    }
    .brand-strip__logo {
        filter: grayscale(0);
    }

}