.section-sucursales-container {
    position: relative;
    padding: {
        top: $boxModel * 4;
        bottom: $boxModel * 4;
    }
}
.mapa-sucursales {
    width: 100%;
    height: auto;
    max-width: 800px;
    margin: auto;
    display: block;
    path {
        fill: $white;
        stroke: $black;
        stroke-width: .5;
        transition: all .25s $linear;
        position: relative;
        &[data-exist="true"] {
            fill: $cream;
            cursor: pointer;
            &:hover {
                fill: $mainColor;
            }
        }
    }
}

.mapa-data-container {
    @media #{$desktop} {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 350px;
    }
    @media #{$mobile} {
        margin-top: $boxModel * 2;
    }
    width: 100%;
    background-color: $white;
    box: {
        sizing: border-box;
        shadow: 0px 1px 10px rgba(0,0,0,.25);
    }
    padding: {
        top: $boxModel;
        right: $boxModel;
        bottom: $boxModel;
        left: $boxModel;
    }
}

@keyframes apear {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.mapa-data__headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .mapa-data__hint {
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: darken($cream, 5);
        border: 1px solid black;
        margin-right: 4px;
        vertical-align: middle;
        position: relative;
        bottom: 1px;
    }
    .mapa-data_info-text {

    }
}

.mapa-data {
    .mapa-data-item {
        display: none;
        opacity: 0;
        font-size: 11px;
        transition: all 1s linear;
        &.active {
            display: block;
            animation: {
                name: apear;
                duration: .5s;
                fill-mode: forwards;
                timing-function: $cubicBezier;
            }
        }
        .mapa-data-item__title {
            font: {
                weight: 700;
                size: 14px;
            }
        }
        .mapa-data-item__telefonos {
            > * {
                display: inline-block;
            }
        }
        .mapa-data-item__telefonos-label {
            font-weight: 700;
        }
    }
}
